django==5.1.6

django-cors-headers
# pymysql
# mysqlclient

pytest
pytest-django
coverage

# TODO Start: [Student] Add dependency on uWSGI
uwsgi==2.0.21
# TODO End: [Student] Add dependency on uWSGI

djangorestframework